/**
 Custom CSS
 Version 2.0.0

*/

.fmi-container { 
   text-align: center;

   h1 { font-size: 3rem; }
   h4 { font-size: 2rem; line-height: 2;}
   
   #product-image1 {
      width: 100%;

      img { width: 30vw; }
   }
    
   p {
      font-size: 1.1rem;
      line-height: 2.1;
   }
   .add-quantity-box {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;

      
      a {
         height: 50%;
         align-self: center;
      }
   }
}

.fmi-daily-container {
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   
   .half-side{ 
      padding: 2rem;
      //border: solid 1px #000;
      flex-basis: 45%;
      
      h4 { margin-top: 2rem;}
   
      .add-quantity-box {
         margin-top: 2rem;
         display: flex;
         flex-direction: row;
         justify-content: center;

         
         a {
            height: 50%;
            align-self: center;
         }
      }
   }
}

/*** 

MOBILE VIEW

*****/

@media (max-width: 544px) {

   .fmi-container { 
      h1 { font-size: 1.75rem; }
      h4 { font-size: 1.25rem; line-height: 1.5;}
      
      #product-image1 {
         width: 100%;

         img { width: 100%; }
      }
      
      p {
         font-size: 1rem;
         line-height: 2.1;
   }
   }


   .fmi-daily-container {
   
    display: flex;   
    justify-content: center;
    flex-direction: column;

    .half-side{ 
       padding: 2rem;
       //border: solid 1px #000;
       flex-basis: 100%;
       
       h4 { margin-top: 2rem;}
    
       .add-quantity-box {
          margin-top: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
 
          
          a {
             height: 50%;
             align-self: center;
          }
       }
    }
 }
}
