/**
 Custom CSS

*/

/** Add Quantity **/
 .add-quantity-box {
    display: flex;
    flex-direction: row;
 }

/*  .add-quantity-box > .quantity {
    
    max-width: 8vw;
    margin: 0 1rem;
    
} */