/**
 Custom CSS

*/
.product-description-container { 
    position: relative;

}
/** Add Quantity **/
 .add-quantity-box {
    display: flex;
    flex-direction: row;
 }

.quantity {
    
    max-width: 8vw;
    margin: 0 1rem;
    
}